.login-form {
	margin: 0;
	padding: 10px;
	width: 200px;
	border: none;
	background: none;
}
.login-form #email, .login-form #password {
	font-size: 1.125em;
	padding: .25em;
	width: 200px;
}
.login-form .button {
	padding: 0 10px;
}
.userBox img.avatar {
	float: left;
	margin: 5px;
}
.userBox ul {
	clear: both;
}
.userBox .user-info {
	padding: 5px;
}
.button.wide {
	padding: 0 10px;
}
img.ajax-loader {
	background: none;
	border: 0;
}
p.errors {
	color: red;
}


/* Book Cover Images */
div.book-coverImage {
	background: transparent;
	border: 0;
	width: 100px;
	height: 115px;
	position: relative;
}
div.book-coverImage img.cover-image {
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	background: none;
	position: absolute;
	bottom: 0;
}
div.book-coverImage span.embedded-title {
	width: 78px;
	height: 105px;
	position: absolute;
	margin-left: 15px;
	margin-top: 10px;
	color: #dadada;
	text-shadow: 2px 2px 2px #000;
	overflow: hidden;
	text-align: center;
}

/* Paginate */
.paginate {
	text-align: center;
	padding: 10px;
}
.paginate span, .paginate a {
	padding: 5px;
}

/* Gravatar */
.gravatar {
	background:url(../images/gravatar.jpg);
}

#rss {
	display: none;
}

