/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "fancy-buttons";
@import "compass/reset";

/* silk icons */
@import "silk-sprite.sass";

/* main themes */
@import "coolblue.scss";
@import "enhancements.scss";

/* customization */
@import "layout.scss";

/* controller specify customization */
@import "controller_book.scss";
@import "controller_publish.scss";
@import "controller_sandbox.scss";

h1, h2, h3 {
	@include single-text-shadow(#cccccc, 2px, 2px, 2px);
}

a.fancy-button {
	color: white;
}
.fancy-button {
	@include fancy-button(#124c89, 16px, 4px, 1px);
}
.fancy-button-submit {
	@include fancy-button(#124c89, 16px, 4px, 1px);
}

.w100p {
	width: 100%;
}
.w90p {
	width: 90%;
}
.w80p {
	width: 80%;
}
